{
    "env": {
        "development": {
            "presets": [
                "next/babel",
                "@zeit/next-typescript/babel",
                "@babel/preset-typescript"
            ]
        },
        "production": {
            "presets": [
                "next/babel",
                "@zeit/next-typescript/babel",
                "@babel/preset-typescript"
            ]
        },
        "test": {
            "presets": [
                ["next/babel", { "preset-env": { "modules": "commonjs" } }],
                "@zeit/next-typescript/babel",
                "@babel/preset-typescript"
            ]
        }
    },
    "presets": [
        "next/babel",
        "@zeit/next-typescript/babel",
        "@babel/preset-typescript"
    ],
    "plugins": [
        [
            "import",
            {
                "libraryName": "antd",
                "style": "css"
            }
        ],
        ["styled-components", { "ssr": true }]
    ]
}